
Practice/__pycache__/myModule.cpython-38.pyc
Practice/Assignment_Classifier/__pycache__/merger.cpython-38.pyc
Practice/Assignment_Classifier/InputAssignments/Assignment1.docx
Practice/Assignment_Classifier/__pycache__/classifier.cpython-38.pyc
Practice/Assignment_Classifier/classifier.py
Practice/Assignment_Classifier/.ipynb_checkpoints/main-checkpoint.ipynb
Practice/.ipynb_checkpoints/pyBasicProgram_Assign6-checkpoint.ipynb
*-checkpoint.ipynb
*.docx
*.docx
*.docx
*.xlsx
*.csv
*.data
*.h5
*.png
*.jpeg
*.jpg
*.txt
*.zip
*.tar
Practice/top50sample_pickle
Practice/DL_Practice/img_resources/
Practice/Logs/
Practice/GUI Practice/
Practice/Datasets/
Practice/.ipynb_checkpoints/
Assignments/.ipynb_checkpoints/
Practice/EDACollection-master/
Practice/TestModules
Practice/NLP_Practice/data/
Practice/ML_Practice/datasets/
Practice/ML_Practice/SavedModels/
Practice/ML_Practice/PandasReports/
Practice/SQLIteDB/
Practice/Config/
Practice/DL_Practice/CNN_Practice/bad_data/
Practice/DL_Practice/CNN_Practice/data/
Practice/DL_Practice/CNN_Practice/logs/