
Practice/__pycache__/myModule.cpython-38.pyc
Practice/Assignment_Classifier/__pycache__/merger.cpython-38.pyc
Practice/Assignment_Classifier/InputAssignments/Assignment1.docx
Practice/Assignment_Classifier/__pycache__/classifier.cpython-38.pyc
Practice/Assignment_Classifier/classifier.py
*.docx
Practice/Assignment_Classifier/.ipynb_checkpoints/main-checkpoint.ipynb
Practice/.ipynb_checkpoints/pyBasicProgram_Assign6-checkpoint.ipynb
Practice/abc.txt
*.docx
*.docx
*.docx
